* {
    margin: 0;
    padding: 0;
    
    
  }

.container {
    display: flex;
    flex-direction: column;
    
   
    width: 100%;


}
.form1 {
    background-color: #3cb0fd;
    width: 45%;
    height: auto;
    position: absolute;
    margin-top: 175%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}
form {
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    width: 80%;

   
    
   
}
label {
	display:block;
	padding: 1rem;
	letter-spacing:2px;
    text-align: right;
   
}

input {
	
	height: 3rem;
	background:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #00557C;
	
	margin-top:;
	font-size:0.9em;
	color:#3a3a3a;
}

	input:focus{
		border:1px solid #97d6eb;
	}



#submit {
    background: #00557C;
	font-weight: 600;
	height:3rem;
	
	border:none;
	margin-top:1.5rem;
	cursor:pointer;

}

	#submit:hover {
		opacity:0.9;
	}

 
    .form2 {
        background-color: #3cb0fd;
        width: 50%;
        
        position: absolute;
        margin-top: 540%;
        margin-left: 25%;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
    }




