* {
    margin: 0;
    padding: 0;
    
    
  }

.container {
    display: flex;
    flex-direction: column;
    
   
    width: 100%;


}
.form1 {
    background-color: #3cb0fd;
    width: 45%;
    height: 45%;
    position: absolute;
    margin-top: 180%;
    margin-left: 50%;
    display: flex;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    width: 80%;
   
    
   
}
label {
	display:block;
	padding: 5px;
	letter-spacing:2px;
    text-align: right;
    font-size: large;
}

input {
	
	height: 45px;
	background:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #00557C;
	
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

	input:focus{
		border:1px solid #97d6eb;
	}



#submit {
    background: #00557C;
	font-weight: 600;
	height:45px;
	
	border:none;
	margin-top:20px;
	cursor:pointer;

}

	#submit:hover {
		opacity:0.9;
	}

 button {
    
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #00557C;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 8%;
    margin-left: 10%;
    position: absolute;
    width: auto;
    
}
 button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }





